.wrapper {
    height: auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
        background-color: #fafafa;

}

.cart-items {
    width: 90%;
    margin-left: 40px;
}
.cart-items{
}