@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Crimson+Pro:wght@200&family=Philosopher&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --green: #0a804a;
    --light-yellow: #ffffff;
    --red: #e94560;
    --black: #000;
    --color_heading: #242424;
    --white: #fff;
    --grey: grey;
    --text-color: #333;
    --line-height: 1.6;

    --font-family: 'Roboto', sans-serif;
    --default-layout-header-height: 120px;
    --default-layout-width: 1230px;
    --header-border-radius: 12px;
    --border-bottom: 12px;

    // Search
    --search-height: 45px;
    --search-button-width: 52px;
    --search-top-spacer: 9px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.15;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}

//Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
    height: 100px;
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
    &:hover {
        color: var(--black);
    }
}

ul {
    list-style: none;
}
